<a href="https://colab.research.google.com/github/mikeamerenda/mikeamerenda/blob/main/Average_Height_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

1. Load this dataset and explore it! Answer the following questions:
     - a. How many rows?
     - b. How many columns?
     - c. Which columns have missing values? (Why do think there are there so many null values in the Medals column?)
     - d. How many entries correspond to the city of London?
     - e. What age is the youngest athlete in our sample data?  Hint: use min()

In [4]:
#1
df = pd.read_csv('/content/athleteEventsNoPersonal.csv')
df.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [5]:
#1a) How many rows
#1b) How many Columns
df.shape
# 40,616 rows
# 12 Columns

(40616, 12)

In [6]:
# 1c) Which columns have missing values? (Why do think there are there so many null values in the Medals column?)
df.isnull().sum()
# columns 'Age', 'Heigth', and 'Medal' have missing data
# Medal is missing data because only a few people one medals for the event they participated in

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [30]:
# 1d) How many entries correspond to the city of London?
london= df['City'] == 'London'
London =df.loc[london]
London.shape
#3370 entries correspond with London

(3370, 12)

In [31]:
#1e) What age is the youngest athlete in our sample data? Hint use min()
df['Age'].min()
#11 years is the youngest athlete

11.0

2. Create filters to find out:
     - a. How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?
     - b. How many Gold medals were awarded to athletes who were over 40 years old?

In [9]:
# 2a) How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?
tug_of_war_filter = df['Sport'] =='Tug-Of-War'
sweden_filter = df['Team'] == "Sweden"
#show only data of athletes from Sweden who competed in the Tug Of War
sweden_tug_of_war = df.loc[tug_of_war_filter&sweden_filter]
#show the amount of athletes. (shown by the row)
sweden_tug_of_war.shape
# 6 Swedish athletes competed in  Tug Of War

(6, 12)

In [34]:
# 2b) How many Gold medals were awarded to athletes who were over 40 years old?
age_filter = df['Age'] > 40
gold_filter = df['Medal'] == "Gold"
#show only data of athletes over forty who won gold
forty_gold = df.loc[age_filter&gold_filter]
#show the amount of athletes. (shown by the row)
forty_gold.shape
# 66 athletes won gold over the age of 40

(66, 12)

3. Determine the average height of:
     - a. All rows included.
     - b. All rows included, but grouped by Event.

In [32]:
#3a) All rows Included
df['Height'].mean()
#Average height is 175.38cm

175.3811165585956

In [33]:
# 3b) All rows included, but grouped by Event.
df.groupby('Event')['Height'].mean()

Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64