<a href="https://colab.research.google.com/github/mikeamerenda/mikeamerenda/blob/main/Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
df =pd.read_csv('/content/sales_predictions.csv')
df.head()
# Source https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

**Data Cleaning**

In [27]:
#1) How many rows and columns?
df.shape

(8523, 12)

In [28]:
#2) What are the datatypes of each variable?
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [29]:
#3) Are there duplicates? If so, drop and duplicates.
df.duplicated().any()

False

In [31]:
#4) Identify Missing values.
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [32]:
#5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
null_item_weight =pd.isnull(df['Item_Weight'])
df[null_item_weight]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [33]:
null_outlet_size =pd.isnull(df['Outlet_Size'])
df[null_outlet_size]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [34]:
df.drop(columns=['Item_Weight','Outlet_Size'], inplace=True)
df.head()

  Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           FDA15          Low Fat  ...  Supermarket Type1         3735.1380
1           DRC01          Regular  ...  Supermarket Type2          443.4228
2           FDN15          Low Fat  ...  Supermarket Type1         2097.2700
3           FDX07          Regular  ...      Grocery Store          732.3800
4           NCD19          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]

I decided to Drop the columns 'Item_Weight' and 'Outlet_Size' as both columns are missing a large amount of data and data missing is completley random without any outside source available to retrieve it

In [35]:
#6) Confirm that there are no missing values after addressing them.
df.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

All Missing Data has been removed

In [43]:
#7)Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 
#Going through each columns (.value Counts) to see if changes are needed to fix inconsistencies
df['Item_Identifier'].value_counts()

FDG33    10
FDW13    10
FDG09     9
FDP25     9
FDQ40     9
         ..
FDY43     1
FDE52     1
FDQ60     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [40]:
#Has Consistency issues and needs to be fixed
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [44]:
#Making Variable in column to read Low Fat or Regular
df.loc[df['Item_Fat_Content']=='LF', 'Item_Fat_Content']='Low Fat'
df.loc[df['Item_Fat_Content']=='low fat', 'Item_Fat_Content']='Low Fat'
df.loc[df['Item_Fat_Content']=='reg', 'Item_Fat_Content']='Regular'

In [45]:
# Variables now only read 'Low Fat' or 'Regular'
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [46]:
#Looks okay
df['Item_Visibility'].value_counts()

0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
           ...
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [47]:
#Looks okay
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [57]:
#Looks okay
df['Item_MRP'].value_counts()

172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
           ..
212.8218    1
190.3872    1
162.6868    1
189.1214    1
51.3008     1
Name: Item_MRP, Length: 5938, dtype: int64

In [49]:
#Looks okay
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [50]:
#Looks okay
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [51]:
#Looks okay
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [53]:
#Looks okay
df['Item_Outlet_Sales'].value_counts()

958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
             ..
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

Only **Item_Fat_Content** needed to be fixed for inconsitency issues

In [60]:
#8) For any numerical columns, obtain the summary statistics of each (min, max, mean)
df.describe()

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]